:root {
	--color-primary: #161616;
	--color-secondary: #222222;
	--color-accent: aquamarine;
	--color-text: #cacaca;
	--color-shadow: rgba(255, 255, 255, 0.2);

	/* Color palette background */
	--default-background-hover: var(--color-shadow);
	--background-body: var(--color-primary);
	--background-article: var(--color-primary);
	--background-aside: var(--color-secondary);
	--background-minimized: var(--color-secondary);
	--background-button: color-mix(in srgb, var(--color-primary), var(--color-shadow) 80%);
	--background-code: #000000;
	--background-results: var(--color-secondary);
	--background-horizontal: color-mix(in srgb, var(--color-text), var(--color-shadow) 60%);
	--background-input: var(--color-primary);
	--background-input-error: color-mix(in srgb, var(--color-primary) 92%, red);

	/* Color palette text */
	--default-text: var(--color-text);
	--text-body: var(--default-text);
	--text-headings: #8d8d8d;
	--text-anchor: var(--color-accent);
	--text-code: var(--color-accent);
	--text-results: #ffffff;

	/* Accents and highlights */
	/* --box-shadow: color-mix(in srgb, var(--color-accent), transparent 90%); */
	--box-shadow: color-mix(in srgb, var(--color-shadow), transparent 90%);

	/* Margins & padding */
	--text-hover-padding: 20px;
}

body {
	position: relative;
	display: flex;
	min-height: 100%;
	flex-flow: wrap;
	font-size: large;
	font-family: Arial, sans-serif;
	background-color: var(--background-body);
	color: var(--default-text);
	margin: 0;
	padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-headings);
	font-size-adjust: 0.7;
	line-height: 1.2;
}

h1 {
	font-size: 2.5em;
	line-height: 2.5;
	text-align: center;
	width: 100%;
}

h2 {
	font-size: 1.5em;
	line-height: 2.5;
}

h3 {
	font-size: 1.2em;
	line-height: 2;
}

a {
	color: var(--text-anchor);
}

.code-container {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
	text-wrap-mode: wrap;
	padding-inline: 40px;
	color: var(--text-code);
	background-color: var(--background-code);

	h2 {
		margin: 0;
		font-size: 2.5em;
		line-height: 3.5;
	}
}

hr {
	border: 0;
	height: 1px;
	background-color: var(--background-horizontal);
	margin: 40px 0;
}

label {
	cursor: pointer;
	margin-block: 20px;
	padding: 10px;
}

input {
	border: none;;
	font-size: large;
	font-family: Arial, sans-serif;
	background-color: var(--background-input);
	color: var(--default-text);
	margin-block: 20px;
	padding: 10px;
	width: -moz-available;

	&.error {
		background-color: var(--background-input-error);
	}
}

button {
	cursor: pointer;
	border: none;
	border-radius: 10px;
	font-size: large;
	font-family: Arial, sans-serif;
	background-color: var(--background-button);
	color: var(--default-text);
	padding: 10px;
	margin-block: 20px;
	width: 200px;
	transition: border-radius 0.2s;

	&.minimize {
		position: absolute;
		border-radius: 5px;
		right: 40px;
		padding: 10px 40px;
		margin-top: 20px;
		width: fit-content;
	}

	&:hover {
		background-color: var(--default-background-hover);
		box-shadow: 0 0 0 3px var(--box-shadow);

		&:not(.minimize) {
			border-radius: 5px;
		}
	}
}

section,
article {
	position: relative;
	margin: 20px 0;
	padding: 20px 35px;
}

article {
	max-height: 70vh;
	overflow-y: scroll;
	box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.5) inset;
	width: 100%;
	margin-inline: 20px;

	h2 {
		margin-top: -5px;
	}

	> section {
		box-shadow: 0px 3px 18px -6px rgba(0, 0, 0, 01);
	}
}

section {
	h3 {
		margin-top: 10px;
	}
}

form {
	padding-block: 20px;
}

aside {
	position: fixed;
	display: flex;
	left: 0;
	top: 0;
	padding: 40px;
	height: 100%;
	max-height: calc(100vh - 80px);
	width: 100%;
	max-width: 25vw;
	background-color: var(--background-aside);
	box-shadow: 0px 3px 18px -6px rgba(0, 0, 0, 01);
	z-index: 1;

	ul {
		flex: 1;
		gap: 20px;
		display: flex;
		flex-direction: column;
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		overflow-y: scroll;
		opacity: 0;
		transition: opacity 0.4s;
	}

	&.show {
		animation-name: show;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;

		ul {
			opacity: 1;
		}
	}

	&.hidden {
		animation-name: hidden-transition-reverse;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}

	&.hidden-transition {
		animation-name: hidden-transition;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}
}

@keyframes show {
	from {
		padding-inline: 5px;
		width: 10px;
	}
	to {
		padding: 40px;
		width: 100%;
	}
}

@keyframes hidden-transition {
	from {
		padding-inline: 5px;
		width: 10px;
	}
	to {
		padding-inline: 20px;
		width: 10px;
	}
}

@keyframes hidden-transition-reverse {
	from {
		padding-inline: 20px;
		width: 10px;
	}
	to {
		padding-inline: 5px;
		width: 10px;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
}

td {
	text-align: left;
}

.minimized {
	height: 50px;
	overflow: hidden;
	background-color: var(--background-minimized);
	box-shadow: 0 5px 5px rgb(34, 34, 34);

	>*:not(.minimize, h3, h2) {
		display: none;
	}
}

.results-container {
	margin-top: 20px;
	padding: 5px 20px;
	color: var(--text-results);
	border-radius: 5px;
	background-color: var(--background-results);
}

#result-e5 {
	max-height: 200px;
	overflow-y: scroll;
}

.input-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	width: 100%;
}
